<div class="menu" id="sidebar">

	<div class="parent">
		<input type="checkbox" id="tab-1" name="tab-group-1" >
		<label for="tab-1">Trees</label>
		<div class="sub_menu">
			<a>+New</a>
			<a>List</a>
		</div>
	</div>
	
	<div class="parent">
		<input type="checkbox" id="tab-2" name="tab-group-1" >
		<label for="tab-2">Regions</label>
		<div class="sub_menu">
			<a>+New</a>
			<a>List</a>
		</div>
	</div>
</div>