#sidebar{
	border-top: 1px solid;
	width:200px;
}
input[type=checkbox]:checked ~ label{
	background:#1D4F21;
}
input[type=checkbox]:checked ~ label ~ .sub_menu{
	display:block;
}
input[type=checkbox] ~ label ~ .sub_menu{
	display:none;
}
.menu a:hover, label:hover{
	background:#1D4F21;
	cursor:default;
}
input[type=checkbox]{
	display:none;
}
.menu a, label{
	display:block;
	position:relative;
	margin:0px;
	padding:5px;
	border:1px solid;
	border-top:0px;
	background:#229922;
}

