.menu{
	border-top: 1px solid;
}
.side{
	width:200px;
}
input[type=checkbox]:checked ~ label{
	background:#177928;
	color:#012407;
}
input[type=checkbox]:checked ~ label ~ .sub_menu{
	display:block;
}
input[type=checkbox] ~ label ~ .sub_menu{
	display:none;
}
.menu a:hover, label:hover{
	background:#177928;
	color:#012407;
}
.menu a:hover{
	text-decoration:underline;
	cursor:pointer;
}
input[type=checkbox]{
	display:none;
}
.menu a, label{
	display:block;
	position:relative;
	margin:0px;
	padding:5px;
	border:1px solid;
	border-top:0px;
	color:#177928;
}

